<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container mt-5" th:style="${'font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;'}">
		<div class="jumbotron" style="background-color: #09228c;color: #d9d9d9;" align="center">
			<h2 th:text="${'Order Completed'}"></h2>
		</div>
		

		<div class="mt-5" th:align="${'center'}">
			<button class="btn btn-secondary" th:onclick="redirectHome()">Home Page</button>
		</div>
	</div>

</th:block>