<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container mt-5"
		th:style="${'font-family: Oswald, sans-serif; color: #12044F;margin-bottom: 100px;'}">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center" th:text="${'Confirm Address'}"></h1>
				<div class="card-body">
					<form th:object="${shippingAddress}" method="POST" id="shippingAddressForm">

						<input 
							type="hidden" 
							name="shippingAddressId"
							th:value="${currentAddress.shippingAddressId}"	
						/>
						
						<input 
							type="hidden" 
							name="customerId"
							th:value="${currentAddress.customerId}"	
						/>

						<div class="form-group">
							<label> City </label> 
							<input 
								type="text" 
								id="city" 
								name="city"
								class="form-control" 
								th:placeholder="${'Enter Your City'}" 
								th:value="${currentAddress.city}"
							/>
							<span
								class="text-danger" id="cityError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Not Empty!Max 40 letters allowed!'}"> 
							</span>
						</div>

						<div class="form-group">
							<label> Post Code </label> 
							<input 
								type="text" 
								id="postcode"
								name="postcode" 
								class="form-control"
								th:placeholder="${'Enter post code'}" 
								th:value="${currentAddress.postcode}"
							/>
							<span class="text-danger" id="postcodeError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Min 5 and Max 10 letters allowed!'}"> </span>
						</div>

						<div class="form-group">
							<label th:text="${'Street & Number'}"></label> 
							<input 
								type="text"
								id="address" 	
								name="address" 
								class="form-control"
								th:placeholder="${'Enter Street & Number Of Your Residency'}" 
								th:value="${currentAddress.address}"
							/>
							<span class="text-danger" id="addressError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Not Empty!Max 75 letters allowed!'}"> </span>
						</div>



						<div class="box-footer">
							<button type="button" class="btn btn-danger mr-3"  
           						th:onclick="redirectCancelOrder()" 
           						th:text="${'Cancel'}">
           					</button>
							<button type="submit" class="btn btn-success">Continue</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	
		var element = document.getElementById("shippingAddressForm");
		element.addEventListener("submit", event => {
			event.preventDefault();
			var formData = $("#shippingAddressForm");
			if (validateShippingAddress()) {
				$.ajax({
					url : "http://localhost:8080/orders/confirmShippingAddress",
					type : "POST",
					data : formData.serialize()
				})
				.done(function(){
					redirectPhoneConfirmation();
				})
				.fail(function(){
					alert("Failed!");
				})
			}
		})
		
	</script>
</th:block>